* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: #717269;
    height: 100px;
}
   

body {
    background-color: #2b182b;
    font-family: sans-serif;
}

.clear-fix::after{
    content: '';
    clear: both;
    display: table;
}

.cells-container {
    width: 700px;
    height: 700px;
    margin: 0 auto;
    margin-top: 50px;
}

.cell {
    float: left;
    width: calc(100% / 10);
    height: calc(100% / 10);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cells-container,
.cell {
    border: 1px solid white;
}
